* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    background-color: #273043;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





